<!-- display sm md lg -->
<div class="container" >
  <div class="navbar-header">
    <button id="navb" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar" style="color:black"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand hidden-sm">
      <span><a href="/">特美100</a></span>
      <span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="categories">
    <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/beauty/">美容美体</a></li>
      <li><a href="{{ site.baseurl }}/movie/">电影网剧</a></li>
    </ul>
  </div>
</div>
